*{
	margin: 0;
	padding: 0;
}

:root{
	font-family: sans-serif;
	font-size: 15px;
}

header{
	padding-top: 20px;
	height: 100vh;
	text-align: center;
	border-bottom: 2px #2e4252 solid;
	background-color: #030d15;
	color: #fff;
}

#titulo{
	padding: 30px;
	font-size: 4rem;
}

#subtitulo{
	padding: 20px;
	font-size: 3rem;
}

nav table{
	margin-top: 100px; 
	margin-left: auto;
	margin-right: auto;
}

.menu{
	padding: 10px;
	width: 240px;
	font-size: 2rem;
	background-color: #1a2935;
}

.menu:hover{
	background-color: #2e4252;
}

.menu a{
	padding: 5px;
	color: #fff;
	text-decoration: none;
}

.contenido{
	width: 100%;
	padding: 30px 0;
	text-align: center;
	border-bottom: 2px #2e4252 solid;
	background-color: #1a2935;
	color: #fff;
}

.contenido h2{
	font-size: 3rem;
	margin-bottom: 10px;
	text-decoration: underline;
}

.contenido li{
	margin: 30px;
	font-size: 2rem;
	list-style: none;
}

.contenido a{
	color: #fff;
	text-decoration-color: #0000ff;
}

.logos{
	margin-right: 10px;
	height: 45px;
}

.imgFondo{
	width: 250px;
}

footer{
	padding: 30px;
	background-color: #030d15;
}

#pie{
	color: #fff;
}



#proceso{
	margin: 20px;
	animation: proceso 2s infinite;
}

@keyframes proceso{
	50%{
		transform: rotate(60deg);
	}
}
